{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>
    {{ dump(usuarios) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.name }}</td>
                <td>{{ usuario.role }}</td>
                <td>
                    <ul>
                        <a href="{{ path('usuario_show', { 'id': usuario.id }) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('usuario_edit', { 'id': usuario.id }) }}" class="btn btn-default">edit</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a href="{{ path('usuario_new') }}" class="btn btn-large btn-success">Create a new usuario</a>
    </ul>
{% endblock %}
